<a href="https://colab.research.google.com/github/obeabi/Effective-Pandas-/blob/main/Chapter10_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
print("Dependencies installed!")

Dependencies installed!

## Load dataset

In [8]:
column_names = ['Alcohol','Malic_acid', 'Ash', 'Alcalinity_of_ash', 'Magnesium',
                'Total_phenols', 'Flavanoids', 'Nonflavanoid_phenols', 
                'Proanthocyanins', 'Color_intensity', 'Hue', 'OD280/OD315_of_wine', 'Proline']
#df = pd.read_csv('wine.csv' ,encoding= 'UTF8', header= None)
df = pd.read_csv('wine.csv' ,encoding= 'UTF8', names= column_names).reset_index(drop = True)
df.head()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280/OD315_of_wine,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [18]:
# Let us create a new column 
df['target'] = np.where(df.Proline > 1000, 'High', 'Low')
df.head()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280/OD315_of_wine,Proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,High
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,High
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,High
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,High
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,Low

In [19]:
# Set target column to index
ind = df.target
ind

0      High
1      High
2      High
3      High
4       Low
       ...
173     Low
174     Low
175     Low
176     Low
177     Low
Name: target, Length: 178, dtype: object

In [24]:
# Focusing on the Alcohol column
s = df.Alcohol
s = s.rename(index = ind)
s.sample(6, random_state=3)

Low     13.56
High    13.77
High    13.51
Low     11.61
Low     13.48
High    12.85
Name: Alcohol, dtype: float64

## Question 1
Inspect the index

In [26]:
s.index

Index(['High', 'High', 'High', 'High', 'Low', 'High', 'High', 'High', 'High',
       'High',
       ...
       'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low'],
      dtype='object', length=178)

In [25]:
print(s.index.to_list())

['High', 'High', 'High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High', 'High', 'Low', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Low', 'High', 'High', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low', 'Low']

## Question 2

 Sort the index

In [27]:
s.sort_index()

High    14.23
High    14.02
High    13.73
High    13.58
High    13.76
        ...
Low     13.17
Low     12.08
Low     12.08
Low     11.84
Low     14.13
Name: Alcohol, Length: 178, dtype: float64

## Question 3

 Set the index to monotonically increasing integers starting from 0.

In [30]:
(s
 .rename_axis('target')
 .reset_index(drop = True)
)

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

## Question 4

 Set the index to monotonically increasing integers starting from 0, then convert these to the
string version. Save this a s2.

In [62]:
s2 = (s
 .reset_index(drop = True)
)
s2.index = s2.index.map(str)
print(s2)

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 178, dtype: float64

## Question 5

 Using s2, pull out the first 5 entries.

In [58]:
s2.loc['1': '5']

1    13.20
2    13.16
3    14.37
4    13.24
5    14.20
Name: Alcohol, dtype: float64

## Question 6

 Using s2, pull out the last 5 entries

In [60]:
s2.tail(5)

173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, dtype: float64

## Question 7

 Using s2, pull out one hundred entries starting at index position 10.

In [64]:
s2.loc['10':'109']

10     14.10
11     14.12
12     13.75
13     14.75
14     14.38
       ...
105    12.42
106    12.25
107    12.72
108    12.22
109    11.61
Name: Alcohol, Length: 100, dtype: float64

## Question 8

 Using s2, create a series with values with index entries '20', '10', and '2'.

In [65]:
s2.reindex(['20', '10','2'])

20    14.06
10    14.10
2     13.16
Name: Alcohol, dtype: float64